.DS_Store
data
ELASTICC2_TRAIN_02.tar.bz2
ELASTICC2_TRAIN_02_NONIaMODEL0-0001_HEAD.FITS.gz
ELASTICC2_TRAIN_02_NONIaMODEL0-0001_PHOT.FITS.gz
test.py
.ipynb_checkpoints/
processed/
__pycache__
src/astroOracle.egg-info